{% extends "menu_administradores_template.html" %}
{% block content %}
    {{ super() }}
{% endblock %}

{% if isactive_estadistica %}
    class="is-active"
{% endif %}

{% block main %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{ url_for("menu_estadisticas")  }}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Estadisticas</a></li>
          </ul>
        </nav>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Estadisticas</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
                {% if fecha_inicio %}
              <button type="button" class="button is-small">
                  {{ fecha_inicio.strftime("%d-%m-%Y") }} - {{ fecha_fin.strftime("%d-%m-%Y") }}
              </button>
                {% endif %}
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-6">
            <article class="message is-dark">
              <div class="message-header">
                <p>Chart</p>
              </div>
              <div class="message-body">
                <div id="chartLine" style="width: 100%;"></div>
              </div>
            </article>
          </div>
          <div class="column is-6">
            <article class="message is-dark">
              <div class="message-header">
                <p>Chart</p>
              </div>
              <div class="message-body">
                <div id="chartScatter" style="width: 100%;"></div>
              </div>
            </article>
          </div>
          <div class="column is-6">
            <article class="message is-dark">
              <div class="message-header">
                <p>Chart</p>
              </div>
              <div class="message-body">
                <div id="chartDoughnut" style="width: 100%;"></div>
              </div>
            </article>
          </div>
          <div class="column is-6">
            <article class="message is-dark">
              <div class="message-header">
                <p>Chart</p>
              </div>
              <div class="message-body">
                <div id="chartBar" style="width: 100%;"></div>
              </div>
            </article>
          </div>
        </div>
{% endblock %}